:root {
  --results-columns: 2;
}

.grid {
  column-count: var(--results-columns);
  column-gap: 0.5em;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 4;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 6;
  }
}
