:root {
  /* Color */
  --blue: #489EB5;
  --black: #282426;
  --gray: #c6c3c2;
  --white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.app-main {
  height: 100%;
}

.app-header {
  background-color: var(--white);
}
